.logo-unservicio-container {
    display: flex;
    align-items: center;
    gap: 0.1em;
    height: 100%;
}

.logo-unservicio-svg {
    height: 100%;
    width: auto;
}

.logo-unservicio-title {
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    line-height: 1;
    white-space: nowrap;
}