.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    z-index: 1000;
}

.header-space {
    height: 90px;
    background: #000;
}

.header-container {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: #000;
    /*border-bottom: 1px solid #ddd;*/
    height: 100%;
    width: 100%;
}

.header-bottom {
    height: 30px;
    display: inline-block;
}

.header-bottom-container {
    height: 100%;
    padding: 0 50px;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0 0 10px 0;
    display: flex;
    align-items: center;
}

@media (min-width: 768px) {

    .header-container {
        padding: 0 30px;
    }

    .search-container {
        padding: 0 30px;
    }


}

.logo-container {
    flex: 0 0 auto;
    color: #ffffff;
    padding: 0 15px;
    border-right: 1px solid #ffffff;
}

.logo-unservicio {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: auto;
}

@media (max-width: 768px) {
    Header .logo-unservicio-title {
        display: none;
    }
}

.search-container {
    flex: 1;
    padding: 0;
}

.search-form {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #dfdfdf;
    border: 1px solid #ffffff;
    border-radius: 5px;
    transition: width 0.3s ease;
}

.search-input {
    width: 100%;
    padding: 0.5rem;
    border: none;
    background-color: #dfdfdf;
}

.search-button {
    border: none;
    background-color: #dfdfdf;
    cursor: pointer;
    padding: 0 10px;
}

.login-profile {
    height: 35px;
}

.profile-container {
    flex: 0 0 auto;
    padding: 0 15px;
    border-left: 1px solid #ffffff;
}



.login-container {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
}