.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    z-index: 1000;
}

.header-space {
    height: 90px;
    background: #000;
}

.header-container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ffffff;
    gap: 15px;
    background-color: #000;
    height: 100%;
    width: 100%;
}

.header-bottom {
    height: 30px;
    display: inline-block;
    max-width: 25vw;
}

.header-bottom-container {
    backdrop-filter: blur(5px);
    height: 100%;
    padding: 0 50px 0 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 0 0 10px 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-bottom-container span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 768px) {
    Header .logo-unservicio-title {
        display: none;
    }

    .login-span {
        display: none;
    }

    .header-bottom {
        max-width: 40vw;
    }
}

@media (min-width: 768px) {

    .header-container {
        padding-right: 30px;
    }

    .search-container {
        padding: 0 30px;
    }
}

.logo-container {
    flex: 0 0 auto;
    color: #ffffff;
    padding: 0 15px 0 10px;
    border-right: 1px solid #ffffff;
    display: flex;
    align-items: center;
    gap: 15px;
}




.search-container {
    flex: 1;
}

.search-form {
    display: flex;
    max-width: 700px;
    margin-left: auto;
    align-items: center;
    width: 100%;
    height: 45px;
    background-color: #dfdfdf;
    border: 1px solid #ffffff;
    border-radius: 5px;
    transition: width 0.3s ease;
}

.search-input {
    width: 100%;
    height: 100%;
    padding-right: 0.5em;
    border: none;
    background-color: #dfdfdf;
    caret-color: rgb(98, 173, 155);
}

.search-input:focus {
    outline: none;
}

.search-icon {
    color: rgb(98, 173, 155);
    padding: 0 10px;
}

.search-button {
    border: none;
    background-color: #dfdfdf;
    cursor: pointer;
    padding: 0 10px;
}

.login-profile {
    height: 35px;
}

.login-container {
    display: flex;
    align-items: center;
}

.login-span {
    font-size: 17.5px;
    font-weight: 700;
}

.profile-container {
    flex: 0 0 auto;
    padding: 0 15px;
    border-left: 1px solid #ffffff;
}